.slide {
    background: url(../../images/slide_4/slide_4.png) no-repeat 0 0 / cover;
}

.btn {
    position: absolute;
    width: 122px;
    height: 52px;
    z-index: 10;
    opacity: 1;
}

.btn--1 {
    top: 434px;
    left: 376px;
}

.popup.popup-1 {
    left:0;
    top:0;
}